api_key: {{ dd_agent_apikey }}
site: {{ dd_agent_site }}
hostname: {{ node_name }}
tags:
  - "provider:{{ dd_agent_tag_provider }}"
  - "location:{{ dd_agent_tag_location }}"
  - "account:{{ dd_agent_tag_account }}"
  - "tribe:{{ dd_agent_tag_tribe }}"
  - "squad:{{ dd_agent_tag_squad }}"
  - "ecosystem:{{ dd_agent_tag_ecosystem }}"
  - "cluster:{{ dd_agent_tag_cluster }}"
  - "env:{{ dd_agent_tag_env }}"
  - "app:{{ dd_agent_tag_app }}"
logs_enabled: true
logs_config:
  container_collect_all: false
process_config:
  enabled: true
