#!/bin/bash

wget -O - https://s3.amazonaws.com/dd-agent/scripts/install_script.sh | DD_AGENT_MAJOR_VERSION="{{ dd_agent_version }}" DD_API_KEY="{{ dd_agent_apikey }}" DD_SITE="{{ dd_agent_site }}" bash -e -
